@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0c0d10; /* Rasmdagi kabi chuqur to'q fon */
  color: #f8fafc;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Kalendar inputidagi standart piktogrammani yashirish yoki moslash */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

/* Skrollbarni chiroyli qilish */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #111317;
}
::-webkit-scrollbar-thumb {
  background: #22252d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #E12515;
}